body{
    background-color: rgba(151, 213, 238, 0.254);
    margin:0;
    padding: 0;

}

.text-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.logo{
    color:#4E47FF ;
    font: size 34px; ;
    font-weight: 900;
}

main{
    max-width: 1140px;
    margin:0 auto;

}


/* button style */
.button{
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    border: 0;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
}
.button:hover{
    color: black;
    background-color: skyblue;
    border-radius: 10px;
    border: 0;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    cursor: pointer;

}

/* Navbar design */

.navbar{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

/* banner design */

.banner{
    max-width:1140px;
    text-align: center;
    margin: 0 auto;
    color: black;
    font: size 65px;;
    font-weight: bold;
}
.banner-text{
    margin-top: 150px;
}
.banner-button{
    margin-bottom: 150px;
    margin-top: 35px;
}

/* header design */

.header{
    background-image:url(Assets/Hero-bg.png);
}

/* webflow section */

.webflow-section{
    margin-top: 120px;

}

.main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:250px;
}

.webflow-title{
    font-size: 42px;;
    font-weight:bold ;
}
.webflow-paragraph{
    font-size:24px; ;
    font-weight:normal ;
    color:grey;
    margin-bottom: 20px;
}
.webflow-image{
    border-radius: 48px;
}

/* productive user section */
.productive-user-section{
    padding: 50px 140px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-top: 120px;
}

.productive-user-section-text{
    font-size: 38px;
    font-weight:bold ;
    text-align: center;
}
.productive-user-div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.big-text{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0;
}
.small-text{
    font-size: 20px;
    font-weight: normal;
    color: grey;
}

/* what our user say section */
.user-say{
    margin-top: 120px;
}
.four-box{
    display: flex;
    gap: 20px;
}


.user-say-titile{
    font-size:42px; ;
    font-weight: bold;
    margin-bottom:50px ;
    text-align: center;
}

.review{
    background-color:white;
    width:350px ;
    padding: 24px;
    border-radius: 14px;
}

.star{
    margin-bottom: 24px;
}


.h4-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}


.user-paragraph{
    font-size:16px ;
    font-weight:normal ;
    color: grey;
    margin-bottom: 24px;
}

.girl-image{
    border-radius: 50%;
}

.review-bottom{
    display:flex;
    align-items: center;
    gap: 10px;
}


/* ready-to-focus section*/

.ready-to-focus{
    padding: 70px 150px;
    background-color:white ;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}

.ready-img{
    border-radius: 48px;
}
.ready-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ready-paragraph{
    font-size: 16px;
    font-weight: normal;
    color: grey;
    margin-bottom: 20px;

}
/* form section */
.form-section{
    margin-top: 120px;
    padding: 70px;
}

.form-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.form-box h1{
    font-size:98px ;
    font-weight: bold;

}

.form-box input[type="text"],input[type="email"]{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(249, 249, 249);
    display: block;
    padding: 20px 32px;
    border: 1px solid grey;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.form-box textarea{
    width: 100%;
    height: 135px;
    border-radius: 10px;
    background-color:  rgb(249, 249, 249);
    display: block;
    padding: 20px 32px;
    border: 1px solid grey;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}
.form-text{
    font-size: 18px;
    font-weight: 600;
}
.form-button{
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    border: 0;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    height: 48px;

}
.form-button:hover{
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    background-color: skyblue;
    border-radius: 10px;
    border: 0;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    cursor: pointer;
    
}
/* footer */

.footer-div{
    max-width:530px;
    margin: 0 auto;
    text-align: center;
}
.footer{
    border: 1px solid grey;
    background-color: white;
    padding: 0 0 120px 0;

}
.footer-text{
    margin-top: 120px;
    font-size:100px ;
    font-weight: 1000px;
    color: #4E47FF;
    margin-bottom: 10px;
}
.last-div{
    display: flex;
    justify-content: space-around;
    padding: 0 85px;
    margin: 20px 0;
}

    


